
.hero
  display: flex
  align-items: center
  justify-content: center
  min-height: 100vh
  gap: 60px

.hero-left img
  max-width: 730px
  width: 100%
  height: auto

.hero-right
  display: flex
  flex-direction: column
  justify-content: center
  max-width: 485px

h1
  font-size: 77px
  margin-bottom: 20px
  background: linear-gradient(90deg, #ff416c, #ff4b2b)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  line-height: 1.1
  letter-spacing: -0.05em

ol
  display: flex
  flex-direction: column
  gap: 15px
  counter-reset: item
  list-style: none
  padding: 0

  li
    font-size: 38px
    font-weight: 600
    padding: 0
    color: #000
    position: relative
    line-height: 1.98
    letter-spacing: -0.05em
    display: flex
    align-items: center

    &::before
      counter-increment: item
      content: counter(item) "."
      display: inline-block
      margin-right: 12px
      font-size: 55px
      font-weight: 800
      background: linear-gradient(90deg, #E51726, #D4208C)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent


.btn-signup
  background: linear-gradient(90deg, #D4208C, #E51726)
  padding-top: 16px
  padding-bottom: 16px
  border: none
  border-radius: 10px
  color: #fff
  font-size: 23px
  font-weight: 800
  cursor: pointer
  transition: 0.3s
  width: 80%

  &:hover
    opacity: 0.9

@media (max-width: 768px)
  .hero
    flex-direction: column
    gap: 20px

  .hero-left img
    width: 290px
    height: 275px

  .hero-right
    max-width: 290px

  h1
    font-size: 35px
    letter-spacing: -0.05em


  ol
    li
      font-size: 19px

      &::before
        font-size: 33px
        font-weight: 800
        background: linear-gradient(90deg, #E51726, #D4208C)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        line-height: 1
        letter-spacing: -0.05em
